.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(0, 0, 0, 0.2);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px;
    font-size: 25px;
}

.output {
    background-color: #4B5D67;
    color: #ffff;
    font-size: 35px;
    font-weight: 500;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #4B5D67;
    border-left: 1px solid #4B5D67;
    grid-template-columns: repeat(4, 1fr)
}

.buttons>div {
    border-top: 1px solid #4B5D67;
    border-right: 1px solid #4B5D67;
}

.button {
    border: .5px solid #4B5D67;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: #F66B0E;
    color: white;
    grid-column: span 3;
}

#del {
    /* grid-row: span 2; */
    text-align: center;
    justify-content: center;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}